<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock  %} - 2nd Page</title>
</head>
<body>
    <!-- component -->
    <nav class="flex justify-between px-20 py-10 items-center bg-slate-200 border-b border-slate-400">
        <h1 class="text-xl text-gray-800 font-bold hover:text-violet-600">2nd Page</h1>
        <div class="flex items-center">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 pt-0.5 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
                <input class="ml-2 outline-none bg-transparent rounded-xl" type="text" name="search" id="search" placeholder="Search..." />
            </div>
            <ul class="flex items-center space-x-6">
                <a href='#' class="font-semibold text-gray-700 hover:text-sky-700">Home</a>
                <a href='#' class="font-semibold text-gray-700 hover:text-sky-700">Browse</a>
                <a href='{% url 'item:new' %}' class="font-semibold text-gray-700 hover:text-sky-700">New Item</a>

                {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard:index' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Dashboard</a>
                {% else %}
                    <a href='{% url 'core:signup' %}' class="font-semibold bg-sky-500 rounded p-2 text-slate-50">Signup</a>
                    <a href='{% url 'core:login' %}' class="font-semibold bg-sky-500 rounded p-2 text-slate-50">Login</a>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="px-20 py-10">
        {% block content %}
        {% endblock  %}
    </div>

    <footer class="px-20 py-10 flex justify-between bg-slate-400">
        <div class="w-2/3 pr-10">
            <h3 class="mb-5 font-semibold text-gray-800">About</h3>

            <p class="text-sm text-grey-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex suscipit provident aliquam et nulla quas velit </p>
        </div>
        <div class="w-1/3">
            <h3 class="mb-5 font-semibold text-gray-800">Links</h3>

            <ul class="space-y-2">
                <li><a href="{% url 'core:contact' %}" class="text-sm text-gray-600 hover:text-sky-300">Contact</a></li> 
                <li><a href="#" class="text-sm text-gray-600 hover:text-sky-300">About</a></li>
                <li><a href="#" class="text-sm text-gray-600 hover:text-sky-300">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>